<h1>Hello. This is my Homelab!</h1>
<p>
  I use this home lab to learn about Arduino, ESP8266, and other IoT devices.
</p>

<p>
  I also use this home lab to learn about web development, including Fastify,
  PostgreSQL, Next.js and Socket.io.
</p>

<p>
  This website and its server is hosted on a Samsung Galaxy A7 Lite using
  Termux.
</p>
